@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: 'Inter';
  max-width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  width: 100% !important;
}

ol, ul, menu {
  list-style: auto;
  margin: auto;
  padding: revert;
}

li {
  text-align: justify;
}

