@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-family: 'Inter';
  max-width: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  width: 100% !important;
}

ol, ul, menu {
  margin: auto;
  padding: revert;
}

.rsw-ce ul {
  list-style: disc;
  padding-left: 2em;
}

.rsw-ce ol {
  list-style: decimal;
  padding-left: 2em;
}

li {
  text-align: justify;
}

.rsw-btn[data-active=true]{
  background: #8887a5 !important;
}

